/* Default styles for larger screens */
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

.image {
  margin: 10px;
  cursor: pointer;
  border: 1px solid #f7efef;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.image img {
  max-width: 100%;
  transition: transform 0.2s;
}

.image-content {
  width: 300px;
  transition: width 0.2s;
}

.image:first-child {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.image:hover .image-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.delete-button {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #ff5757;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff0000;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.image .controls {
  display: none;
}

.image:hover .controls {
  display: flex;
}

.selected .controls {
  display: flex;
}

.selected .image-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .gallery {
    padding: 8px;
  }

  .image {
    margin: 10px;
    width: calc(30.33% - 10px);
  }

  .image-content {
    width: 100%;
  }

  .image:first-child {
    width: 100%;
  }
}
