/* Default styles for the image grid */
.image-grid {
  display: grid;
  grid-template-columns: 186px 186px 186px 186px 186px;
  gap: 3px;
  justify-content: center;
  overflow: auto;
}

.image-grid .image:first-child {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  cursor: pointer;
  border: 2px solid #dbd4d4;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  transition: transform 0.2s;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.image:hover .image-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.delete-button {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #ff5757;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff0000;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.image .controls {
  display: none;
}

.image:hover .controls {
  display: flex;
}

.selected .controls {
  display: flex;
}

.selected .image-overlay {
  opacity: 1;
  background-color: rgba(134, 129, 129, 0.5);
}

.addImage {

  background-image: url('https://cdn-icons-png.flaticon.com/128/8191/8191584.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #dbd4d4;
  border-radius: 15px;
}

/* Style for the container of "no-image-message" and "selected-images-count" */
.selected-images-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

}

/* Style for the "no-image-message" when there are no images */
.no-image-message {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

/* Style for the "Selected Images" count when images are selected */
.selected-images-count {
  font-weight: bold;
}

/* Style for the "Selected Images" count */
.selected-images-count {
  display: flex;
  align-items: center;
}

/* Style for the count number */
.selected-images-count span {
  font-weight: bold;
  margin-right: 4px;
}

/* Style for "File" or "Files" */
.selected-images-count .plural {
  font-weight: normal;
  margin-right: 4px;
}

/* Style for checkbox-like element */
.selected-images-count .checkbox-like {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #777;
  border-radius: 3px;
}

.text-left {
  
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}